<h1>Editing Flight</h1>

<%= form_with(model: @flight, url: admins_flight_path(id: @flight.id), method: :put, local: true) do |form| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% @flight.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :departure_date %>
    <%= form.date_select :departure_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :departure %>
    <%= form.text_field :departure %>
  </div>

  <div class="field">
    <%= form.label :arrival %>
    <%= form.text_field :arrival %>
  </div>

  <div class="field">
    <%= form.label :flight_length %>
    <%= form.text_field :flight_length %>
  </div>

  <div class="field">
    <%= form.label :number_of_seats %>
    <%= form.number_field :number_of_seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', admins_flight_path(id: @flight.id) %> |
<%= link_to 'Back', admins_flights_path %>
