<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<table>
  <thead>
    <tr>
      <th>Departure date</th>
      <th>Time</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th>Flight length</th>
      <th>Number of seats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.departure_date %></td>
        <td><%= Flight.hours_minutes(flight.time) %></td>
        <td><%= flight.departure %></td>
        <td><%= flight.arrival %></td>
        <td><%= Flight.hours_minutes(flight.flight_length) %></td>
        <td><%= flight.number_of_seats %></td>
        <td><%= link_to 'Show', admins_flight_path(id: flight.id) %></td>
        <td><%= link_to 'Edit', edit_admins_flight_path(id: flight.id) %></td>
        <td><%= link_to 'Destroy', admins_flight_path(id: flight.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flight', new_admins_flight_path %>
