<p id="notice"><%= notice %></p>

<p>
  <strong>Departure date:</strong>
  <%= @flight.departure_date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @flight.time %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @flight.departure %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @flight.arrival %>
</p>

<p>
  <strong>Flight length:</strong>
  <%= @flight.flight_length %>
</p>

<p>
  <strong>Number of seats:</strong>
  <%= @flight.number_of_seats %>
</p>

<%= link_to 'Edit', edit_admins_flight_path(id: @flight.id) %> |
<%= link_to 'Back', admins_flights_path %>
